.video { display: inline-block; flex: 0 1 auto;}

.videoContainer {
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.canvas {
  display: none;
}

.overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
