@import "beeline-react-ui-toolkit/source/styles/constants.pcss";

@custom-media --tablet (width >= 768px) and (width < 1000px);

:root {
  --activeBorderColor: #fdb530;
  --borderColor: #d9d9d9;
  --mainColor: #ffb612;
  --mainLightColor: #fbce5d;
  --baseColor: #282828;
  --baseFontFamily: Roboto, sans-serif !important;
  --baseFont: 14px/1.4615 var(--baseFontFamily);
  --commonFontFamily: Arial, sans-serif;
}
