/* global package */
@import 'normalize.css';
@import "fonts.pcss";
@import "global.pcss";

/* [class="Personal_personal_oJHj"] {
  display: none!important;
}

[class="Search_searchInput_27gu"] {
  display: none!important;
} */
